{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m12 xl12">
            <table id="example" class="mdl-data-table" style="width:100%">
                <thead>
                <tr>
                    <th style="width: 20px">&nbsp;</th>
                    <th>Nome do arquivo</th>
                    <th>Data</th>
                    <th>Tamanho (Mb)</th>
                    <th style="width: 20px">Público</th>
                    <th style="width: 20px">Excluir</th>
                </tr>
                </thead>
                <tbody>
                {% for userfile in object_list %}
                <tr>
                    <td><i class="material-icons">all_inbox</i></td>
                    <td><a href="{{ userfile.upload.url }}">{{ userfile.get_filename }}</a></td>
                    <td>{{ userfile.upload_date|date:"d/m/Y" }}</td>
                    <td>{{ userfile.get_file_size|floatformat:2 }}</td>
                    <td>{{ userfile.public|yesno|upper }}</td>
                    <td>Delete</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>

{% endblock %}